<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand w-25" href="#"><img src="/assets/photos/Component 4.png" class="w-50 brand"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/gsc">Google Solution Challeange </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="courses">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/boodcasts">Podcasts</a>
        </li>
        <li  class="nav-item">
          <a class="nav-link active" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="header">
  <div class="desc">
    <div class="container">
    <div class="row">
      <div class="col-md-8 d-flex align-items-center">
        <h3>
          <br>
         <ngx-typed-js [loop]="true" [typeSpeed]="80" [strings]="['Welcome To GDSC Cairo University', 'Learn Any Thing For Free Now..'] ">
          <h1 class="typing"></h1>
        </ngx-typed-js>
          Explore our FREE, comprehensive course library to deliver the best training material to your team!
          Learn from industry experts, and connect with a global network of experience
          Drive business impact Get access to courses for your business, higher education, or government team.
        </h3>

      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <img src="/assets/photos/image 534.png" class="w-75">
      </div>
      </div>
  </div>
  </div>
  <div class="container-fluid  mt-5">
    <div class="row p-4">
      <div class=" col-md-6">
        <h2>Techinacal Courses</h2>
      </div>
    </div>
    <div class="row g-3 p-4">
        <div class="col-md-3">
          <a href="https://drive.google.com/drive/folders/1rWZ8r8WaoFGJMKrGz3vMK6jE9rsQP5EA" target="_blank">
            <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/image 543.png" class="w-100 course-img">
          <h4>C Programming Language </h4>
          <p>C is still at the center of it all. In this course, get a quick introduction to the vocabulary and basics of programming in C
            <br>
            Duration: 3 hours</p>
          </div>
        </div>
          </a>
      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1u6Jf5TL4ZJwZwLk270wBKFpuAqemSCZ3" target="_blank">
           <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/image 544.png" class="w-100 course-img">
          <h4>OOP With C++</h4>
          <p>C is still at the center of it all. In this course, get a quick introduction to the vocabulary and basics of programming in C
            <br>
            Duration: 3 hours</p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1w_LLMbY3LTiqJOgTjzAFHvuRnVXZEG5v" target="_blank">
          <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/image 545.png" class="w-100 course-img">
          <h4>PhP</h4>
          <p>A popular general-purpose scripting language that is especially suited to web development.
            <br>
            Duration: 38 hours</p>
          </div>
        </div>
        </a>

      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1rfg2QJpothWSFw8AYjmtXJ2SIDQ-mk90" target="_blank">
          <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/regular_1708x683_cover-0726_SQLDatabasePerformanceTuningForDevelopers_Razvan_Newsletter-2c775155bd19788a2db543728925752d.png" class="w-100 course-img">
          <h4>SQL Server</h4>
          <p>SQL stands for Structured Query Language SQL lets you access and manipulate databases</p>
          </div>
        </div>
        </a>
      </div>
    </div>
    <div class="row g-3  p-4">
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1rfg2QJpothWSFw8AYjmtXJ2SIDQ-mk90" target="_blank">
<div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/Frevvo-Save-Data-Hero-1000x529.png" class="w-100 course-img">
          <h4>Advanced SQL development </h4>
          <p>SQL stands for Structured Query Language SQL lets you access and manipulate databases</p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/19QRGoiDe9ujHw-oPDnv5q8c2xMAubaKU" target="_blank">
<div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/3910939.png" class="w-100 course-img">
          <h4>Web Development with Angular</h4>
          <p>Angular is a popular open-source web application framework used to build dynamic and scalable web applications. It is maintained by Google </p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1weB5KfGOpN2o7XjDYMdmwTJZuicuLjHo" target="_blank">
          <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100 p-2">
            <img src="assets/photos/4623107.jpg" class="w-100 course-img">
          <h4>Bootstrap with Sass</h4>
          <p>Bootstrap is a popular open-source front-end framework used to build responsive, mobile-first web applications. </p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1DodY2gLRhkfcD7fz3cCQyB5AOHiVz-Wb" target="_blank">
                <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/unit-test-vs-functional-test.jpg" class="w-100 course-img">
          <h4>Unit Testing </h4>
          <p>Unit testing is a software testing technique used to test individual units or components of a software application in isolation.</p>
          </div>
        </div>
        </a>
      </div>
    </div>
    <div class="row g-3  p-4">
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/16C-uhVYzrc0NBLd1xmeabQO3jRASVrXN" target="_blank">
           <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/wallpaperflare.com_wallpaper (1).jpg" class="w-100 course-img">
          <h4>Advance Your Skills in HTML </h4>
          <p>HTML is the standard markup language for Web pages. With HTML you can create your own Website.</p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1ZTmACD_hEbpTTk5YUfCx-Ajzs-3SNhtx" target="_blank">
           <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/images.png" class="w-100 course-img">
          <h4>Learning the JavaScript Language</h4>
          <p>JavaScript is the world's most popular programming language,JavaScript is the programming language of the Web.</p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1ZTmACD_hEbpTTk5YUfCx-Ajzs-3SNhtx" target="_blank">
           <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100 p-2">
            <img src="assets/photos/1658289884864.jpg" class="w-100 course-img">
          <h4>Advanced JavaScript Course</h4>
          <p>Advanced JavaScript refers to the more complex and sophisticated features of the JavaScript programming language, beyond the basic syntax and functionality.</p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/11PpdYz9brWVFoNMhA2Fm3x4xV4bkbm6-" target="_blank">
           <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/1555170.jpg" class="w-100 course-img">
          <h4>Advanced Node.js</h4>
          <p>Node.js is a powerful tool for controlling servers, building web applications</p>
          </div>
        </div>
        </a>
      </div>
    </div>
    <div class="row g-3  p-4">
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1yey0jdsYlyKJ-CT0JHTkUJpx6ZeLoERM" target="_blank">
            <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/ES6_large2.webp" class="w-100 course-img">
          <h4>ECMAScript 6</h4>
          <p>ECMAScript is commonly used for client-side and used for writing server-side applications</p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/156edCG2d7-WCZAdB4eClvCr7auofhczR" target="_blank">
 <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/wp10638191-jquery-wallpapers.jpg" class="w-100 course-img">
          <h4>jQuery</h4>
          <p>jQuery is a popular open-source JavaScript library that simplifies web development by providing a set of pre-built functions and utilities. </p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1ecpz7akQs9KSD7SKy1A0YSa7FjHMX77X" target="_blank">
          <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100 p-2">
            <img src="assets/photos/what-is-java-image-2048x1170.webp" class="w-100 course-img">
          <h4>Java </h4>
          <p>Java is a robust and object-oriented programming language. Since its inception in 1991</p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1zvcajfmakc329c0estZR44l3rdMQBLcG" target="_blank">
           <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/f5932bc2.webp" class="w-100 course-img">
          <h4>MongoDB</h4>
          <p>MongoDB is a NoSQL document database with an expressive and intuitive query language.</p>
          </div>
        </div>
        </a>
      </div>
    </div>
    <div class="row g-3  p-4">
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1pGkI4zVkLnehpW_siiOIYYWu7MXWBofG" target="_blank">
           <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/00-shell_bash.webp" class="w-100 course-img">
          <h4>Bach Script </h4>
          <p>A Bash script is a plain text file which contains a series of commands.</p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/16vBLOjrPoARn7aHHxu2vRPmjP7M4mHyx" target="_blank">
          <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/python-django-1.png" class="w-100 course-img">
          <h4>Django </h4>
          <p>Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design</p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1Hs7MwurHHBB0UmupcXD1sajsy75_J3xq" target="_blank">
          <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100 p-2">
            <img src="assets/photos/Learn-Microsoft-Power-BI.webp" class="w-100 course-img">
          <h4>MS SQL Server BI</h4>
          <p>Power BI is a collection of software services and connectors that work together to turn your unrelated sources of data into coherent</p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1uWEE8vJWz5tA44wkBKxhI1Dx5bfBd7-I" target="_blank">
          <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/wp10474416-amazon-web-services-wallpapers.png" class="w-100 course-img">
          <h4>Cloud computing with AWS </h4>
          <p>Amazon Web Services (AWS) is the world’s most comprehensive and broadly adopted cloud platform</p>
          </div>
        </div>
        </a>
      </div>
    </div>
    <div class="row g-3  p-4">
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1MGgrQITP8U60fsuBWSlCXwoH1CR46e0r" target="_blank">
          <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/apache-web-server-logo.webp" class="w-100 course-img">
          <h4>Apache Server </h4>
          <p>the Apache Software Foundation has patched a severe vulnerability in the Apache (httpd) web server project that could</p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1lBvgtepad-_VMtnOldq1pYw-_gp_GaMp" target="_blank">
<div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/f5643096750899.5eb54f3381b8f.png" class="w-100 course-img">
          <h4>Python  </h4>
          <p>Python is a high-level, interpreted programming language that is widely used for web development, scientific computing, artificial intelligence, data analysis, and more. </p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1RByh4pPDZR2S1Wjkb2j3Kkbjp8L1bIHf" target="_blank">
                  <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100 p-2">
            <img src="assets/photos/download.png" class="w-100 course-img">
          <h4>vuejs</h4>
          <p>Vue (pronounced /vjuː/, like view) is a JavaScript framework for building user interfaces.
          </p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://onedrive.live.com/?authkey=%21AHTXkSLAxjV_jpA&id=B65A41591FDE85C0%2110690&cid=B65A41591FDE85C0&sw=bypassConfig" target="_blank">
 <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/AI-Motherboard-2048x1103.webp" class="w-100 course-img">
          <h4>Artificial Intelligence (AI)</h4>
          <p>Investments in AI have led to transformative advances now impacting our everyday lives. </p>
          </div>
        </div>
        </a>
      </div>
    </div>
    <div class="row g-3  p-4">
      <div class="col-md-3">
        <a href="https://mega.nz/folder/HNp0XLga#E3To6KFpNdnaUCkXGAM8cQ/folder/XRhGQDQC" target="_blank">
<div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/Certified-Ethical-Hacker-CEH-v10.jpg" class="w-100 course-img">
          <h4>Certified Ethical Hacker (CEH) v10</h4>
          <p>The Certified Ethical Hacker (CEH) provides an in-depth understanding of ethical hacking phases, various attack vectors. </p>
          </div>
        </div>
        </a>

      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1CTxSPCkKg8yNKnvPAzGlmxfmd_uBdwoG" target="_blank">
<div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/maxresdefault.jpg" class="w-100 course-img">
          <h4>Data structure</h4>
          <p>A data structure is a way of organizing and storing data in a computer so that it can be accessed and used efficiently.</p>
          </div>
        </div>
        </a>

      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/17j1RpK9gVqk1_cE2a2HIu3QcQymxX_k9" target="_blank">
<div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100 p-2">
            <img src="assets/photos/laravel-featured.png" class="w-100 course-img">
          <h4>Laravel </h4>
          <p>Laravel is a free, open-source PHP web framework, created by Taylor Otwell and intended for the development of web applications </p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1Ho9-Nn4ZN2Wiyg5-UhGfEkB93KpAGLTT" target="_blank">
          <div class="courseDesc m-auto w-100 p-3">
            <div class="cont-course w-100  p-2">
              <img src="assets/photos/sta-je-xml.jpg" class="w-100 course-img">
            <h4>XML </h4>
            <p>Extensible Markup Language (XML) is a markup language and file format for storing, transmitting </p>
            </div>
          </div>
        </a>

      </div>
    </div>
    <div class="row g-3  p-4">
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/14yWNYiNQim9NNKbF9Zf0twknqgip5s-A" target="_blank">
 <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/New-Cisco-CCNA.jpg" class="w-100 course-img">
          <h4>CCNA </h4>
          <p>Achieving CCNA certification is the first step in preparing for a career in IT technologies.</p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1HsW8aMgAlrJQ2AWu4XtOIVdetiLR-fVx" target="_blank">
<div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/ruby-programming-language.png" class="w-100 course-img">
          <h4>Ruby </h4>
          <p>Ruby is an interpreted, high-level, dynamic, general-purpose, open source programming language .</p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1mHLeIMPc5wLN_6OXdop0dRNP84juloVh" target="_blank">
<div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/baby-git-release.png" class="w-100 course-img">
          <h4>git </h4>
          <p>Git is an essential tool that developers use to share code and collaborate on software projects.</p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/185XJutPfqQBmXSfnfX3-x3scRSVOcCYB" target="_blank">
          <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/computer-operating-sytem.jpg" class="w-100 course-img">
          <h4>opreating system</h4>
          <p>An operating system (OS) is a software program that manages the hardware and software resources of a computer system.</p>
          </div>
        </div>
        </a>
      </div>
    </div>
    <div class="row g-3  p-4">
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1aoBU4eyUoOd6bg_nhX4pWeMlv0KLH1hK" target="_blank">
 <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/Arduino-With-Python-How-to-Get-Started_Watermarked.webp" class="w-100 course-img">
          <h4>Arduino  </h4>
          <p>Arduino has made electronic application design much more accessible to all developers. </p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/11LVuvSryq1XdE0KlYL3bFoF2G2tMYIkF" target="_blank">
<div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/cloud-computing-tools-1.webp" class="w-100 course-img">
          <h4>Cloud computing</h4>
          <p>Cloud computing is a model of computing that allows users to access computing resources over the internet, without needing to own or manage the underlying hardware and software infrastructure.</p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/16MFWiwenAXPOPT83-zKQM81guFkyVrAZ" target="_blank">
 <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100 p-2">
            <img src="assets/photos/red-hat-summit-2021-logo1.png" class="w-100 course-img">
          <h4>Red Hat  </h4>
          <p>Red Hat is a software company that combines open source Linux operating system components with related programs . </p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/11d9TNoPj8PZADZOoRG2gaxYDluOGod99" target="_blank">
<div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/pasted-image-0-2.png" class="w-100 course-img">
          <h4>React js</h4>
          <p>React is a popular open-source JavaScript library used for building user interfaces for web applications. It was created by Facebook</p>
          </div>
        </div>
        </a>
      </div>
    </div>
    <div class="row g-3  p-4">
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1NDFNAwL8JRQ-m7LmP_VP5qqBdbHuEoej" target="_blank">
 <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/react-native.png" class="w-100 course-img">
          <h4>React native</h4>
          <p>React Native is an open-source mobile application development framework created by Facebook.</p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/15JbdBIAGUUlO2Jq6AuHahmNfpS6EsfDs" target="_blank">
<div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/ee83c456.webp" class="w-100 course-img">
          <h4>My SQL</h4>
          <p>MySQL is a popular open-source relational database management system (RDBMS) that is widely used for web applications, content management systems</p>
          </div>
        </div>
        </a>
      </div>
    </div>
    <div class="row p-4">
      <div class="col-md-6">
        <h2>NoN-Techincal Courses</h2>
      </div>
    </div>
    <div class="row g-3  p-4">
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1YHBH7iLsSpC4NJjuH5xepqW_b2Yehrxt" target="_blank">
          <div class="courseDesc m-auto w-100 p-3">
            <div class="cont-course w-100  p-2">
              <img src="assets/photos/Common-Interview-Questions.png" class="w-100 course-img">
            <h4>Interview Questions </h4>
            <p>Here are the most common interview questions to expect to be asked in your interview </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1cHT9x_jShr3mYb58ziD_FxCeeDjtWYie" target="_blank">
 <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/CV-Templates.jpg" class="w-100 course-img">
          <h4>Curriculum vitae (CV) </h4>
          <p>Your CV is a brief written account of your personal details, your education, You can send a CV when you are applying for a job </p>
          </div>
        </div>
        </a>

      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1zXsmhoZYt6yWxPzNo4t5YLHqWu6k7M43" target="_blank">
<div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100 p-2">
            <img src="assets/photos/Tips-To-Improve-Your-Communication-Skills-infographic1-2.jpg" class="w-100 course-img">
          <h4>Communication Skills </h4>
          <p>Communication is always a two-way process and numerous people forget this and fall into the trap of “broadcasting”. </p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1TIxMjGlrsOdIFnOulgkETCSyWwf4LpG6" target="_blank">
<div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/1_fiEXMWcFg328ztjZEWYlpg.jpeg" class="w-100 course-img">
          <h4>Project Management </h4>
          <p>Project management is the use of specific knowledge, skills, tools and techniques to deliver something of value to people. </p>
          </div>
        </div>
        </a>
      </div>
    </div>
    <div class="row g-3  p-4">
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/16eTDWMqqkfyGA-5d7-uys9j009hHq1br" target="_blank">
<div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/TermDefinitions_DigitalMarketing_finalv1-e0b5b14e22e541699ba9d00b07b8a7e8.webp" class="w-100 course-img">
          <h4>Digital Marketing </h4>
          <p>Digital marketing involves some of the same principles as traditional marketing and is often considered a new way for companies. </p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1E6T7Ga7KpCyHJXhAYDHBnKu58SxX6eem" target="_blank">
            <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/hr-generalist-job-at-aujan-coca-cola-60353dfd548e2.png" class="w-100 course-img">
          <h4>Human Resources </h4>
          <p>HR is the division of a business that is charged with finding, screening, recruiting, and training job applicants. </p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1brxVCIzhvqyAhYXofrHYDIc8PO6FlrH7" target="_blank">
            <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100 p-2">
            <img src="assets/photos/mpa-es-program-structure-rwth-international-academy-14025c16.png" class="w-100 course-img">
          <h4>Master of Public Administration (MPA) </h4>
          <p>he mission of the MPA Program is to prepare leaders for careers in public service in Egypt and the Middle East. </p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/14KX8ZAns0R2fKmaqgUe5omJxLxvCDCOT" target="_blank">
          <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/How-to-build-a-PR-campaign-from-scratch-Adeo-5.jpg" class="w-100 course-img">
          <h4> public relations </h4>
          <p>A public relations campaign is a process your business undergoes, which lets it flourish and eventually reach a larger target audience quicker. </p>
          </div>
        </div>
        </a>
      </div>
    </div>
    <div class="row g-3  p-4">
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1gVvJ9R4_APIHVxKy8wMEd6fu2Oa4qWI-" target="_blank">
          <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/Free-courses-for-learning-ICDL-in-Arabic-Online.webp" class="w-100 course-img">
          <h4>ICDL </h4>
          <p>ICDL is an international qualification which enables people to demonstrate their competence in use of computer applications. </p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1RP5ICcWKgHBsWVrMRu_ttRS8qeEKbo-K" target="_blank">
<div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/images (2).png" class="w-100 course-img">
          <h4>𝐈𝐄𝐋𝐓𝐒   </h4>
          <p>The test is accepted by more than 11,000 universities and other institutions in over 190 countries and territories.</p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://mega.nz/folder/kp5RFACR#tEcE-S38Bfkjim7gBp4e9Q/folder/I0ZW1LoR" target="_blank">
           <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100 p-2">
            <img src="assets/photos/data_analysis_with_excel-1024x512-1.png" class="w-100 course-img">
          <h4>Excel Basics for Data Analysis </h4>
          <p>This course is designed to provide you with basic working knowledge for using Excel spreadsheets for Data Analysis. </p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/1ZCEZbVfPfw1oBxSrSTlugLVbFxQvwF0N" target="_blank">
          <div class="courseDesc m-auto w-100 p-3">
          <div class="cont-course w-100  p-2">
            <img src="assets/photos/faizur-rehman-pHPzdEHN6Os-unsplash.jpg" class="w-100 course-img">
          <h4>FreeLancing</h4>
          <p>Freelancing is a type of self-employment. Instead of being employed by a company, freelancers tend to work as self-employed</p>
          </div>
        </div>
        </a>
      </div>
    </div>
    <div class="row g-3  p-4">
      <div class="col-md-3">
        <a href="https://drive.google.com/drive/folders/0Bxon8F9nbSHBTkV3cmZuRE5DS3M?resourcekey=0-lLEhjmbWbFlHbOaCCq1eUg" target="_blank">
          <div class="courseDesc m-auto w-100 p-3">
            <div class="cont-course w-100  p-2">
              <img src="assets/photos/agile-methodology-chicago.webp" class="w-100 course-img">
            <h4>Agile </h4>
            <p>Agile is the ability to create and respond to change. It is a way of dealing with, and ultimately succeeding in, an uncertain and turbulent environment. </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="footer p-4">
  <div class="container-fluid">
    <div class="row d-flex justify-content-between">
      <div class="col-md-3 p-3  d-flex justify-content-center">
        <img src="assets/photos/Group 469 (1).png" class="w-75">
      </div>
      <div class="col-md-6  d-flex justify-content-end">
        <div class="col-md-1 d-flex justify-content-center align-items-center m-3 ">
          <a href="https://gdsc.community.dev/cairo-university-faculty-of-computers-and-artificial-intelligence/" target="_blank"><img src="assets/photos/Vector.png" class="w-50 icon"></a>
        </div>
        <div class="col-md-1 m-1 d-flex justify-content-center align-items-center ">
          <a href="https://www.linkedin.com/company/dsccairo/" target="_blank"> <img src="assets/photos/image 111.png" class="w-50"></a>
        </div>
        <div class="col-md-1 d-flex justify-content-center align-items-center">
          <a href="https://www.facebook.com/GDSCCUFCAI" target="_blank"><img src="assets/photos/Mask group.png" class="w-50"> </a>
        </div>
        <div class="col-md-1 d-flex justify-content-center align-items-center">
          <a href="https://www.instagram.com/gdsccufcai/" target="_blank"><img src="assets/photos/image 113.png" class="w-50"></a>
        </div>
        <div class="col-md-1 d-flex justify-content-center align-items-center">
          <a href="cairodsc@gmail.com" target="_blank"> <img src="assets/photos/image 114.png" class="w-50"></a>
        </div>
      </div>
    </div>
  </div>
</div>
