<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand w-25" href="#"><img src="/assets/photos/Component 4.png" class="w-50 brand"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/gsc">Google Solution Challeange </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/courses">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/boodcasts">Podcasts</a>
        </li>
        <li  class="nav-item mx-2">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="header">
  <div class="container-fluid ">
    <div class="row g-5 justify-content-evenly align-items-center p-2 head">
      <div class="col-md-6  align-items-center ">
        <p><span class="go">Google Solution Challenge 2023</span>
          <br>The 17 Sustainable Development Goals, also known as the SDGs, were established by the United Nations in 2015 with a target year of 2030. Its objectives, which include ending poverty, ensuring prosperity, and protecting the environment, were accepted by all 193 United Nations Member States.
          <br>
          The Google Developer Student Clubs' 2023 Solution Challenge mission is to solve one of the United Nations’ 17 Sustainable Development Goals using Google technology. At GDSC Egypt, we are inviting university students to join the Google Developer Student Clubs 2023 Solution Challenge!, we will guide you through workshops, sessions, and a lot more.</p>
          <button class="reg">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfsqfUWatcPdlQVa1J2d5ntHGQNoBBFef3Bf4omynGnJvQ8PA/viewform?usp=sf_link&fbclid=IwAR2xGD76oguIIwZnhPdIYHhEk9V7F1OKXl2bStljgP7Xd2bTnhdWYILn8No" target="_blank" class="regiest">Register Now</a></button>
      </div>
      <div class="col-md-4 d-flex justify-content-center mt-2">
        <img src="assets/photos/image 533.png" class="w-50 goals">
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center ">
        <h1>2023 Solution Challenge: Global kick-off event</h1>
      </div>
      <div class="row">
        <div class="col-md-6 m-auto mt-5 ">
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/3Zchk6dhr2c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

     <div class="container-fluid">
    <div class="row d-block">
      <div class="col-md-6 m-auto mt-4">
        <img src="assets/photos/Line 3.png" class="w-100">
      </div>
      <div class="col-md-6 m-auto mt-5">
        <h2 class="text-center">GLOBAL SOLUTION CHALLANGE PRIZES</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 prize">
        <div class="prizeBox">
          <h3 class="mt-4">Top 100 teams</h3>
        <p>Win a T-shirt, certificate, and mentorship from Google and other experts to improve and submit a solution for the top prize.</p>
        </div>
        <img src="assets/photos/Group 553.png" class="prizeImg w-25 mt-3">
      </div>
      <div class="col-md-4 prize">
        <div class="prizeBox">
          <h3 class="mt-4">Top 10 finalists</h3>
        <p >Win a $1,000 cash prize per team member and a feature in the Google Developers Blog and global Demo Day livestream, plus mentorship with a Google expert, swag, and a certificate.</p>
        </div>
        <img src="assets/photos/Ellipse 397.png" class="prizeImg w-25">
      </div>
      <div class="col-md-4 prize">
        <div class="prizeBox">
          <h3 class="mt-4">Top 3 winners</h3>
        <p >Win a $1,000 cash prize per team member and a feature in the Google Developers Blog and global Demo Day livestream, plus mentorship with a Google expert, swag, and a certificate.</p>
        </div>
        <img src="assets/photos/image 596.png" class="prizeImg w-25">
      </div>
    </div>
    <div class="col-md-6 mt-5 m-auto d-flex justify-content-center">
      <button class="reg">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfsqfUWatcPdlQVa1J2d5ntHGQNoBBFef3Bf4omynGnJvQ8PA/viewform?usp=sf_link&fbclid=IwAR2xGD76oguIIwZnhPdIYHhEk9V7F1OKXl2bStljgP7Xd2bTnhdWYILn8No" target="_blank" class="regiest">Register Now</a></button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12 text-center ">
      <h2>Sustainable Development Goals <br> (SDGs)</h2>
    </div>
  </div>

  <div class="container mt-4">

    <div class="row g-5 mt-3">
      <div class="col-md-4 d-flex align-items-center justify-content-center  cont-all ">
        <div class="cont-icon  cont-1">
          <div class="col-md-6 m-auto d-flex justify-content-center">
            <img src="assets/photos/Frame 9.png" class="w-100">
          </div>
          <div class="col-md-12 text-center mt-4">
            <h3>No Poverty </h3>
            <p>End poverty in all its forms, everywhere.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-center justify-content-center  cont-all ">
        <div class="cont-icon cont-2">
          <div class="col-md-6 m-auto d-flex justify-content-center">
            <img src="assets/photos/Frame 10.png" class="w-100">
          </div>
          <div class="col-md-12 text-center mt-4">
            <h3>Zero Hunger </h3>
            <p>End hunger, achieve food security and improved nutrition, and promote sustainable agriculture.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="cont-icon cont-2">
          <div class="col-md-6 m-auto d-flex justify-content-center">
            <img src="assets/photos/Slice 2.png" class="w-100">
          </div>
          <div class="col-md-12 text-center mt-4">
            <h3>Good Health & Well-Being </h3>
            <p>Ensure healthy lives and promote well-being for all, at all ages.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-5 mt-2">
      <div class="col-md-4 d-flex align-items-center justify-content-center  cont-all ">
        <div class="cont-icon  cont-4">
          <div class="col-md-6 m-auto d-flex justify-content-center">
            <img src="assets/photos/Frame 14.png" class="w-100">
          </div>
          <div class="col-md-12 text-center mt-4">
            <h3>Quality Education</h3>
            <p>Ensure inclusive and equitable quality education and promote lifelong learning opportunities for all.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-center justify-content-center  cont-all ">
        <div class="cont-icon cont-5">
          <div class="col-md-6 m-auto d-flex justify-content-center">
            <img src="assets/photos/Frame 15.png" class="w-100">
          </div>
          <div class="col-md-12 text-center mt-5">
            <h3>Gender Equality</h3>
            <p>Achieve gender equality and empower all women and girls.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="cont-icon cont-6">
          <div class="col-md-6 m-auto d-flex justify-content-center">
            <img src="assets/photos/Frame 16.png" class="w-100">
          </div>
          <div class="col-md-12 text-center mt-4">
            <h3>Clean & Sanitation</h3>
            <p>Ensure availability and sustainable management of water and sanitation for all.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-5 mt-2">
      <div class="col-md-4 d-flex align-items-center justify-content-center  cont-all ">
        <div class="cont-icon  cont-7">
          <div class="col-md-6 m-auto d-flex justify-content-center">
            <img src="assets/photos/Frame 17.png" class="w-100">
          </div>
          <div class="col-md-12 text-center mt-4">
            <h3>Affordable & Clean Energy</h3>
            <p>Ensure access to affordable, reliable, sustainable, and modern energy for all.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-center justify-content-center  cont-all ">
        <div class="cont-icon cont-7">
          <div class="col-md-6 m-auto d-flex justify-content-center">
            <img src="assets/photos/Frame 18.png" class="w-100">
          </div>
          <div class="col-md-12 text-center mt-4">
            <h3>Decent Work & Economic Growth</h3>
            <p>Promote sustained, inclusive, and sustainable economic growth, full and productive employment, and decent work for all.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="cont-icon cont-9">
          <div class="col-md-6 m-auto d-flex justify-content-center">
            <img src="assets/photos/Frame 19.png" class="w-100">
          </div>
          <div class="col-md-12 text-center mt-4">
            <h3>Industry, Innovation & Infrastructure</h3>
            <p>Build resilient infrastructure, promote inclusive and sustainable industrialization, and foster innovation.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-5 mt-2">
      <div class="col-md-4 d-flex align-items-center justify-content-center  cont-all ">
        <div class="cont-icon  cont-10">
          <div class="col-md-6 m-auto d-flex justify-content-center">
            <img src="assets/photos/Frame 20.png" >
          </div>
          <div class="col-md-12 text-center mt-4">
            <h3>Reduced Inequalities</h3>
            <p>Reduce inequality within and among countries.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-center justify-content-center  cont-all ">
        <div class="cont-icon cont-11">
          <div class="col-md-6 m-auto d-flex justify-content-center">
            <img src="assets/photos/Frame 21.png" >
          </div>
          <div class="col-md-12 text-center mt-1">
            <h3>Sustainable Cities & Communites</h3>
            <p>Make cities and human settlements inclusive, safe, resilient, and sustainable.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="cont-icon cont-12">
          <div class="col-md-6 m-auto d-flex justify-content-center">
            <img src="assets/photos/Frame 22.png" >
          </div>
          <div class="col-md-12 text-center mt-4">
            <h3>Responsible Consumption & Production</h3>
            <p>Ensure sustainable consumption and production patterns.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-5 mt-2">
      <div class="col-md-4 d-flex align-items-center justify-content-center  cont-all ">
        <div class="cont-icon  cont-13">
          <div class="col-md-6 m-auto d-flex justify-content-center">
            <img src="assets/photos/Frame 24.png" >
          </div>
          <div class="col-md-12 text-center mt-4">
            <h3>Climate Action</h3>
            <p>Take urgent action to combat climate change and its impacts.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-center justify-content-center  cont-all ">
        <div class="cont-icon cont-14">
          <div class="col-md-6 m-auto d-flex justify-content-center">
            <img src="assets/photos/Frame 26.png" >
          </div>
          <div class="col-md-12 text-center mt-1">
            <h3>Life Below Water</h3>
            <p>Conserve and sustainably use the oceans, seas, and marine resources for sustainable development.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="cont-icon cont-15">
          <div class="col-md-6 m-auto d-flex justify-content-center">
            <img src="assets/photos/Frame 27.png" >
          </div>
          <div class="col-md-12 text-center mt-4">
            <h3>Life on Land</h3>
            <p>Protect, restore, and promote sustainable use of terrestrial ecosystems, manage forests, combat desertification and biodiversity loss, and halt and reverse land degradation.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-5 mt-2">
      <div class="col-md-4 d-flex align-items-center justify-content-center  cont-all ">
        <div class="cont-icon  cont-16">
          <div class="col-md-6 m-auto d-flex justify-content-center">
            <img src="assets/photos/Frame 28.png" >
          </div>
          <div class="col-md-12 text-center mt-4">
            <h3>Peace, Justice & Strong Institutions</h3>
            <p>Promote peaceful and inclusive societies for sustainable development, provide access to justice for all, and build effective institutions.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-center justify-content-center  cont-all ">
        <div class="cont-icon cont-17">
          <div class="col-md-6 m-auto d-flex justify-content-center">
            <img src="assets/photos/Frame 29.png" >
          </div>
          <div class="col-md-12 text-center mt-1">
            <h3>Partnerships for the Goals</h3>
            <p>Strengthen the means of implementation and revitalize the global partnership for sustainable development.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer p-4">
  <div class="container-fluid">
    <div class="row d-flex justify-content-between">
      <div class="col-md-3 p-3  d-flex justify-content-center">
        <img src="assets/photos/Group 469 (1).png" class="w-75">
      </div>
      <div class="col-md-6  d-flex justify-content-end">
        <div class="col-md-1 d-flex justify-content-center align-items-center m-3 ">
          <a href="https://gdsc.community.dev/cairo-university-faculty-of-computers-and-artificial-intelligence/" target="_blank"><img src="assets/photos/Vector.png" class="w-50 icon"></a>
        </div>
        <div class="col-md-1 m-1 d-flex justify-content-center align-items-center ">
          <a href="https://www.linkedin.com/company/dsccairo/" target="_blank"> <img src="assets/photos/image 111.png" class="w-50"></a>
        </div>
        <div class="col-md-1 d-flex justify-content-center align-items-center">
          <a href="https://www.facebook.com/GDSCCUFCAI" target="_blank"><img src="assets/photos/Mask group.png" class="w-50"> </a>
        </div>
        <div class="col-md-1 d-flex justify-content-center align-items-center">
          <a href="https://www.instagram.com/gdsccufcai/" target="_blank"><img src="assets/photos/image 113.png" class="w-50"></a>
        </div>
        <div class="col-md-1 d-flex justify-content-center align-items-center">
          <a href="cairodsc@gmail.com" target="_blank"> <img src="assets/photos/image 114.png" class="w-50"></a>
        </div>
      </div>
    </div>
  </div>
</div>
