<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto  d-flex">
        <img src="assets/photos/Frame 2_page-0001.jpg" class="m-auto w-50">
      </div>
      <div class="row">
        <div class="col-md-6 text-center m-auto mt-2">
        <p>Welcome to Google Developer Student Clubs <br> Cairo University Educational Platform </p>
      </div>
      <div class="row m-auto">
        <div class="col-md-12  text-center ">
          <button class="m-3" routerLink="/register">Register</button>
          <button class="m-3" routerLink="/login">Login</button>
        </div>
      </div>
      </div>
    </div>
  </div>
  </div>
