<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand w-25" href="#"><img src="/assets/photos/Component 4.png" class="w-50 brand"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gsc">Google Solution Challeange </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/courses">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/boodcasts">Podcasts</a>
        </li>
        <li  class="nav-item mx-2">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="header">
  <div class="container-fluid mt-3">
  <div class="row p-4">
    <div class="col-md-7  d-flex justify-content-center align-items-center">

      <p>
        <ngx-typed-js [loop]="true" [typeSpeed]="80" [strings]="['Welcome To GDSC Cairo University', 'Learn Any Thing For Free Now..'] ">
          <h1 class="typing"></h1>
        </ngx-typed-js>
        <img src="assets/photos/Vector.png" class="logo">

        <span>
          Google Developer Student Clubs</span>
        <br>
        <br>
        Google Developer Student Clubs (GDSC) are community groups for college and university students interested in Google developer technologies. Students from all undergraduate or graduate programs with an interest in growing as a developer are welcome. By joining a GDSC, students grow their knowledge in a peer-to-peer learning environment and build solutions for local businesses and their community.
        </p>
    </div>
    <div class="col-md-4  d-flex justify-content-center align-items-center">
      <img src="assets/photos/Frame 1.png " class="w-75 googleimg">
    </div>
  </div>
</div>
</div>
<div class="footer p-4">
  <div class="container-fluid">
    <div class="row d-flex justify-content-between">
      <div class="col-md-3 p-3  d-flex justify-content-center">
        <img src="assets/photos/Group 469 (1).png" class="w-75">
      </div>
      <div class="col-md-6  d-flex justify-content-end">
        <div class="col-md-1 d-flex justify-content-center align-items-center m-3 ">
          <a href="https://gdsc.community.dev/cairo-university-faculty-of-computers-and-artificial-intelligence/" target="_blank"><img src="assets/photos/Vector.png" class="w-50 icon"></a>
        </div>
        <div class="col-md-1 m-1 d-flex justify-content-center align-items-center ">
          <a href="https://www.linkedin.com/company/dsccairo/" target="_blank"> <img src="assets/photos/image 111.png" class="w-50"></a>
        </div>
        <div class="col-md-1 d-flex justify-content-center align-items-center">
          <a href="https://www.facebook.com/GDSCCUFCAI" target="_blank"><img src="assets/photos/Mask group.png" class="w-50"> </a>
        </div>
        <div class="col-md-1 d-flex justify-content-center align-items-center">
          <a href="https://www.instagram.com/gdsccufcai/" target="_blank"><img src="assets/photos/image 113.png" class="w-50"></a>
        </div>
        <div class="col-md-1 d-flex justify-content-center align-items-center">
          <a href="cairodsc@gmail.com" target="_blank"> <img src="assets/photos/image 114.png" class="w-50"></a>
        </div>
      </div>
    </div>
  </div>
</div>

